.image-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  
  .image-list li {
    margin: 10px;
  }
  
  .image-list img {
    width: 200px; /* Adjust width as needed */
    height: auto;
  }
  
  .tour-plans {
    margin-top: 20px;
  }
  
  .plan-details {
    margin-top: 10px;
  }